parameters:
    level: 8
    paths:
        - src
        - config
    configDirectories:
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - identifier: trait.unused
          path: src/Concerns/*
        - identifier: argument.type
          path: src/Components/*
